Flask==2.3.2
Werkzeug==2.3.6
gunicorn==21.2.0
python-dotenv==1.0.0
requests==2.32.3
boto3==1.28.38
botocore==1.31.38
openai-whisper==20231117
numpy==2.0.1
torch==2.3.1
numba==0.60.0
pydub==0.25.1
minio==7.2.8
yt-dlp==2023.7.6
soundfile
ffmpeg-python
flask-cors==3.0.10